/* Base styling */
:root {
    --background: #FBF7F2;
    --accent: #F5D8B4;
    --primary: #46413E;
    --red: #F1381B;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5, p, label, button, select {
    font-family: 'Lexend', sans-serif;
    color: var(--primary);
    font-weight: 600;
}

h1 {
    font-size: 5em; 
    line-height: 1em;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 3.4em; 
    line-height: 1.1em;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 3em; 
    line-height: 1.1em;
    text-align: center;
}

h4 {
    font-weight: 400;
    font-size: 2em; 
    line-height: 1em;
    text-align: center;
}

h5 {
    font-weight: 600;
    font-size: 1.25em; 
    line-height: 1em;
    text-align: center;
}

select:focus {
    outline: 2px solid var(--accent);
}


img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
}

/* Buttons */
button {
    border: 2px solid var(--primary); 
    position: relative;
    overflow: hidden;
    transition: background-color 400ms;
}

/* Used for the ripple when buttons are clicked */
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(70,65,62,0.5);
}

span.light-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(255,255,255,0.5);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

button:hover, button:focus {
    cursor: pointer; 
}

button:hover {
    transition: opacity 0.25s; 
    background-color: rgba(70,65,62,0.05);
}


button:focus {
    outline: 1px solid var(--accent);
}

.another-button, .search-button, .surprise-button {
    visibility: hidden;
}

/* For wrapping the images and gifs */
.media-wrapper {
    width: 92vw;
    max-height: 350px;
}

/* Masking the images and gifs */
.image-mask {
    -webkit-mask-image: url(../img/mask.png);
    mask-image: url(../img/mask.png);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* Blobs */ 
.blob-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.blob1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: auto;
    margin-right: -220px; 
    margin-top: -220px; 
}

.blob2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: auto;
    margin-left: -220px; 
    margin-bottom: -220px; 
}

/* Navbar specific */
.home-btn {
    border: initial;
    width: 28px;
    height: 28px;
}

.home-btn:hover  {
    opacity: 0.8;
    background-color: transparent;
    transition: opacity 0.25s; 
}

input {
    border: 2px solid rgba(70,65,62,0.4);
    transition: all 0.15s;
}

input:focus {
    outline: none;
    border: 2px solid var(--primary);
}

/* Modals */
.close-modal-btn:hover {
    background-color: transparent;
}

.modal-search-btn:hover {
    background-color: var(--primary);
    opacity: 0.85;
    transition: opacity 0.25s; 
}

.modal-backdrop {

    /* Hide Modal by default */
    visibility: hidden;
    /* Keep Modal in same position */
    position:fixed;
    /* Make sure Modal will be displayed on top of other content */
    z-index: 1;
    /* Position that modal will slide down */
    padding-top: 200px; 
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modal-backdrop.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    position: relative; 
    top: 0;
    margin: auto;
    width: 100%;  
    background-color: var(--background); 
}

.modal-slide-in {
    animation-name: modalSlideIn; 
    animation-duration: 0.4s; 
    visibility: visible;
    opacity: 1;
}

.modal-slide-out {
    animation-name: modalSlideOut; 
    animation-duration: 0.4s; 
}

/* Style for close modal button */
.close-modal-btn {
    height: 20px;
    width: 20px;
    border: initial;
}

.modal-or::before, .modal-or::after {
    display: inline-block;
    background-color: rgba(0,0,0,0.35);
    content: '';
    height: 1px;
    flex: 1;
}

.modal-or::before{
    margin: 0 .4em 0 0;
}

.modal-or::after{
    margin: 0 0 0 .4em;
}

.modal-or {
    justify-content: center;
    align-items: center;
    line-height: 1.42857;
    color: rgba(0,0,0,0.6);
}

.modal-search-btn {
    background-color: var(--primary);
    color: #fff;
}

#modal-choose-btn {
    width: 100%;
}

/* Add animation for modal slidein */
@keyframes modalSlideIn {
    from {top:-300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* Add animation for modal slideout */
@keyframes modalSlideOut {
    from {top: 0; opacity: 1}
    to {top:-300px; opacity: 0}
}

/* Welcome Page Classes */

.welcome-header {
    font-size: 50pt; 
}

.welcome-msg {
    font-size: 24pt; 
}

/* Make box appear in its contents from 0 to 100% width in 2 seconds over 60 steps */
.appear-header {
    opacity: 0; 
    animation: appear-header 1.5s linear forwards; 
}

@keyframes appear-header {
    from{opacity: 0; }
    to{opacity: 1; }
}

.appear-msg {
    opacity: 0;
    animation: appear-msg 1.5s linear 1.5s forwards; 
}

@keyframes appear-msg {
    from{opacity:0; }
    to{opacity: 1; }
}

/* Sound button classes */

.sound-btn {
    color: var(--primary); 
    transition: all 250ms ease-in; 
     
}

.sound-dropdown-content {
   display: none; 
   z-index: 10; 
   background-color: var(--background); 
   box-shadow: 0px 8px 16px rgba(0,0,0,0.2); 
}

.sound-dropdown-content button {
    max-width: 32px; /* Limit width on Firefox */
    display:block; 
    color: rgba(70,65,62,0.4); 
    margin: 0.8rem 0.4rem;   
    transition: color 250ms ease-in; 
    border: none; 
}

.sound-btn:hover {
    opacity: 0.8;
    cursor: pointer; 
}

.sound-option-btn:hover {
    color: rgba(70,65,62,0.8);
    cursor: pointer;
}

.sound-dropdown:hover .sound-dropdown-content {
display: block; 
}

.play {
    color: var(--primary) !important; 
}

/* Styling for volume slider */
/* Style for entire general input */
input[type="range"] {
    -webkit-appearance: none; 
    border: none; 
}

/* Styling the "thumb" or movable object on the slider */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none; 
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--primary); 
    /* Moves thumb over the center of the track */
    margin-top: -4.5px; 
}

/* Styling the track that the user moves the thumb on */
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    width: 300px; 
    background-color: var(--primary); 
    border: none;
    border-radius: 0.5rem; 
}

/* Interaction styles for slider */
input[type="range"]::-webkit-slider-runnable-track:hover,
input[type="range"]::-webkit-slider-thumb:hover {
    cursor:pointer; 
}

/* Styling for volume slider in Firefox */
input[type=range]{
    /* Fix for Firefox unable to apply focus style bug  */
    border: 1px solid transparent; 

    /* Required for proper track sizing in Firefox */
    width: 200px;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none; 
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--primary); 
    /* Moves thumb over the center of the track */
    margin-top: -4.5px; 
}

input[type=range]::-moz-range-track {
    height: 5px;
    width: 200px; 
    background-color: var(--primary); 
    border: none;
    border-radius: 0.5rem; 
}

/* Hide the outline behind the border */
input[type=range]:-moz-focusring{
    outline: 1px solid transparent;
    outline-offset: -1px;
}

input[type=range]:hover::-moz-range-track,
input[type=range]:hover::-moz-range-thumb {
    cursor:pointer; 
}

/* Utility Classes */
.warning-text {
    color: var(--red);
}

.hide {
    display:none; 
}


.show {
    visibility: initial;
}

.space-top-text {
    margin-top: 10vh;
}

.space-top-image {
    margin-top: 8vh;
}


/* Media Queries */
@media screen and (min-width: 640px) {

    .media-wrapper {
        max-height: 500px;
    }

    .blob1, .blob2 {
        width: 80%;
        height: auto;
    }

    .blob1 {
        margin-right: -250px; 
        margin-top: -250px; 
    }

    .blob2 {
        margin-left: -250px; 
        margin-bottom: -250px; 
    }

}

@media screen and (min-width: 768px) {
    .modal-content {
        width: 50%;  
    }

    .media-wrapper {
        width: 800px;
        height: 550px;
        max-height: 600px;
    }

    .image-mask {
        width: 800px;
        height: 550px;
    }

    .blob1, .blob2 {
        width: 50%;
        height: auto;
    }

    .blob1 {
        margin-right: -200px; 
        margin-top: -200px; 
    }

    .blob2 {
        margin-left: -200px; 
        margin-bottom: -200px; 
    }

    .space-top-text {
        margin-top: 20vh;
    }
}

@media screen and (min-width: 1024px) {

    .media-wrapper {
        max-height: 100%;
    }

    .blob1, .blob2 {
        width: 35%;
        height: auto;
    }

    .blob1 {
        margin-right: -260px; 
        margin-top: -290px; 
    }

    .blob2 {
        margin-left: -260px; 
        margin-bottom: -280px; 
    }

}

