:root {
    --background: #FBF7F2;
    --accent: #F5D8B4;
    --primary: #46413E;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5, p, label, button, select {
    font-family: 'Lexend', sans-serif;
    color: var(--primary);
    font-weight: 600;
}

h1 {
    font-size: 5em; 
    line-height: 1em;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 4em; 
    line-height: 1em;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 3em; 
    line-height: 1em;
    text-align: center;
}

h4 {
    font-weight: 400;
    font-size: 2em; 
    line-height: 1em;
    text-align: center;
}

h5 {
    font-weight: 600;
    font-size: 1.25em; 
    line-height: 1em;
    text-align: center;
}


.dropdown-container {
    /* margin-right: 2.75rem; */
}

select:focus {
    outline: 2px solid var(--accent);
}

.blob-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.blob1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 756px;
    height: 805px;
    margin-right: -280px; 
    margin-top: -290px; 
}

.blob2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 757px;
    height: 805px;
    margin-left: -280px; 
    margin-bottom: -290px; 
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
}

button {
 border-color: var(--primary);
}

.another-button {
    visibility: hidden;
}

.search-button {
    visibility: hidden; 
}

.image-mask {
    -webkit-mask-image: url(../img/mask.png);
    mask-image: url(../img/mask.png);
}

#searchModal {
    /* Hide Modal by default */
    display:none; 
    /* Keep Modal in same position */
    position:fixed;
    /* Make sure Modal will be displayed on top of other content */
    z-index: 1;
    /* Position that modal will slide down */
    padding-top: 200px; 
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative; 
    margin: auto;
    width: 30%;  
    padding: 5px 10px 10px 10px;
    border: 1px solid #888; 
    box-shadow: 0 0 5px black; 
    background-color: var(--background); 
    animation-name: modalSlideIn; 
    animation-duration: 0.4s; 
}

.modal-content button {
    border: 2px solid var(--primary); 
}
/* Style for modal buttons */


/* Style for close modal button */
#close-modal-btn {
    font-size: 24pt; 
    font-weight:bold; 
    color: var(--primary); 
}

#close-modal-btn:hover, #close-modal-btn:focus {
    cursor: pointer; 
}

/* Add animation for modal slidein */
@keyframes modalSlideIn {
    from {top:-300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Utility Classes */
.warning-text {
    color: red;
}

.hide {
    display:none; 
}

/* Welcome Page Classes */

.welcome-header {
    font-size: 50pt; 
}

.welcome-msg {
    font-size: 24pt; 
}
/* Helper classes */
.show {
    visibility: initial;
}

.space-top-text {
    margin-top: 20vh;
}

.space-top-image {
    margin-top: 8vh;
}

/* Make box appear in its contents from 0 to 100% width in 2 seconds over 60 steps */
.appear-header {
    opacity: 0; 
    animation: appear-header 1.5s linear forwards; 
}

@keyframes appear-header {
    from{opacity: 0; }
    to{opacity: 1; }
}

.appear-msg {
    opacity: 0;
    animation: appear-msg 1.5s linear 1.5s forwards; 
}

@keyframes appear-msg {
    from{opacity:0; }
    to{opacity: 1; }
}

/* Sound button classes */

.sound-btn {
    color: var(--primary); 
    transition: color 250ms ease-in; 
     
}

.sound-dropdown-content {
   display: none; 
   z-index: 10; 
   background-color: var(--background); 
   box-shadow: 0px 8px 16px rgba(0,0,0,0.2); 
}

.sound-dropdown-content button {
    display:block; 
    color: var(--primary);
    margin: 0.8rem 0.4rem;   
    transition: color 250ms ease-in; 
}

.sound-btn:hover {
    color: var(--background); 
    cursor: pointer; 
}

.sound-dropdown-content button:hover {
    color: var(--accent); 
    cursor: pointer;
}

.sound-dropdown:hover .sound-dropdown-content {
display: block; 
}

.play {
    color: red !important; 
}

/* Styling for volume slider */
/* Style for entire general input */
input[type="range"] {
    -webkit-appearance: none; 
}

/* Styling the "thumb" or movable object on the slider */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none; 
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--primary); 
    /* Moves thumb over the center of the track */
    margin-top: -4.5px; 
}

/* Styling the track that the user moves the thumb on */
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    width: 300px; 
    background-color: var(--primary); 
    border: none;
    border-radius: 0.5rem; 
}

/* Interaction styles for slider */
input[type="range"]::-webkit-slider-runnable-track:hover,
input[type="range"]::-webkit-slider-thumb:hover {
    cursor:pointer; 
}

