.gif-size {
    height: 300px;
    width: 300px; 
}

#gifModal {
    /* Hide Modal by default */
    display:none; 
    /* Keep Modal in same position */
    position:fixed;
    /* Make sure Modal will be displayed on top of other content */
    z-index: 1;
    /* Position that modal will slide down */
    padding-top: 200px; 
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative; 
    margin: auto;
    width: 30%;  
    padding: 5px 10px 10px 10px;
    border: 1px solid #888; 
    box-shadow: 0 0 5px black; 
    animation-name: modalSlideIn; 
    animation-duration: 0.4s; 
}
/* Style for modal buttons */
#gif-search-btn:hover, #gif-choose-btn:hover {
    background-color: rgb(5,150,105); 
}

/* Style for close modal button */
#close-modal-btn {
    font-size: 24pt; 
    font-weight:bold; 
    color: white; 
}

#close-modal-btn:hover, #close-modal-btn:focus {
    color: black; 
    cursor: pointer; 
}

/* Add animation for modal slidein */
@keyframes modalSlideIn {
    from {top:-300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Utility Classes */
.warning-text {
    color: red;
}

.hide {
    display:none; 
}

.show {
    display:block; 
}