/* Base styling */
:root {
    --background: #FBF7F2;
    --accent: #F5D8B4;
    /* --primary: #46413E; */
    --primary: 70, 65, 62; 
    /* primary defined as RGB for use in rgba */
    --red: #F1381B;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5, p, label, button, select {
    font-family: 'Lexend', sans-serif;
    color: rgb(var(--primary));
    font-weight: 600;
}

h1 {
    font-size: 5em; 
    line-height: 1em;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 3.4em; 
    line-height: 1.1em;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 3em; 
    line-height: 1.1em;
    text-align: center;
}

h4 {
    font-weight: 400;
    font-size: 2em; 
    line-height: 1em;
    text-align: center;
}

h5 {
    font-weight: 600;
    font-size: 1.25em; 
    line-height: 1em;
    text-align: center;
}

select:focus {
    outline: 2px solid var(--accent);
}

select {
    background-color: var(--background);
    border: 2px solid rgb(var(--primary)); 
    padding: 10px 0px; 
}

select option {
    background-color: var(--background); 
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
}

/* Buttons */
button {
    border: 2px solid rgb(var(--primary)); 
    position: relative;
    overflow: hidden;
    transition: background-color 400ms;
}

/* Used for the ripple when buttons are clicked */
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(var(--primary),0.5);
}

span.light-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(255,255,255,0.5);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

button:hover, button:focus {
    cursor: pointer; 
}

button:hover {
    transition: opacity 0.25s; 
    background-color: rgba(var(--primary),0.05);
}


button:focus {
    outline: 1px solid var(--accent);
}

.another-button, .search-button, .surprise-button {
    visibility: hidden;
}

/* For wrapping the images and gifs */
.media-wrapper {
    width: 350px;
    height: 260px;
    overflow: hidden;
}

/* Masking the images and gifs */
.image-mask {
    z-index: 1;
    -webkit-clip-path: url(#blobMask);
    clip-path: url(#blobMask);
    overflow: hidden;
}

/* For the loading spinner */
.loader-svg {
    margin-top: 10em;
    animation: 2s linear infinite rotate;
}

.loader-circle {
    stroke: var(--accent);
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    animation: 1.5s ease-in-out infinite both dash;
    transform-origin: 50% 50%;
    stroke-linecap: round;
}
  
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes dash {
    0%,
    25% {
      stroke-dashoffset: 280;
      transform: rotate(0);
    }
    
    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }
    
    100% {
      stroke-dashoffset: 280;
      transform: rotate(360deg);
    }
}


/* Blobs */ 
svg {
    fill: var(--accent);
}

.blob-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.blob1 {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: center;
    transform: translate(400px, -400px);
}

.blob2 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: translate(-350px, 420px);
}

/* Navbar specific */
.home-btn {
    border: initial;
    color: rgb(var(--primary));
    /* width: 28px;
    height: 28px; */
}

.home-btn:hover  {
    opacity: 0.8;
    background-color: transparent;
    transition: opacity 0.25s; 
}

input {
    border: 2px solid rgba(var(--primary),0.4);
    transition: all 0.15s;
}

input:focus {
    outline: none;
    border: 2px solid rgb(var(--primary));
}

/* Modals */
.close-modal-btn svg {
    fill: rgb(var(--primary));
}

.close-modal-btn:hover {
    background-color: transparent;
}

.modal-search-btn:hover {
    background-color: rgb(var(--primary));
    opacity: 0.85;
    transition: opacity 0.25s; 
}

#modal-search-input {
    background-color: var(--background); 
    color: rgb(var(--primary));
}

#modal-search-input::placeholder {
    color: rgb(var(--primary));
}

.modal-backdrop {

    /* Hide Modal by default */
    visibility: hidden;
    /* Keep Modal in same position */
    position:fixed;
    /* Make sure Modal will be displayed on top of other content */
    z-index: 2;
    /* Position that modal will slide down */
    padding-top: 200px; 
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/* Position the sound modal */
#sound-modal.modal-backdrop {
    padding-top: 70px; 
}

.modal-backdrop.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    position: relative; 
    top: 0;
    margin: auto;
    width: 100%;  
    background-color: var(--background); 
}

.modal-slide-in {
    animation-name: modalSlideIn; 
    animation-duration: 0.4s; 
    visibility: visible;
    opacity: 1;
}

.modal-slide-out {
    animation-name: modalSlideOut; 
    animation-duration: 0.4s; 
}

/* Style for close modal button */
.close-modal-btn {
    height: 20px;
    width: 20px;
    border: initial;
}

.modal-or::before, .modal-or::after {
    display: inline-block;
    background-color: rgba(var(--primary), 0.3);
    content: '';
    height: 1px;
    flex: 1;
}

.modal-or::before{
    margin: 0 .4em 0 0;
}

.modal-or::after{
    margin: 0 0 0 .4em;
}

.modal-or {
    justify-content: center;
    align-items: center;
    line-height: 1.42857;
    color: rgb(var(--primary));
}

.modal-search-btn {
    background-color: rgb(var(--primary));
    /* color: #fff; */
    color: var(--background);
}

#modal-choose-btn {
    width: 100%;
}

/* Add animation for modal slidein */
@keyframes modalSlideIn {
    from {top:-300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* Add animation for modal slideout */
@keyframes modalSlideOut {
    from {top: 0; opacity: 1}
    to {top:-300px; opacity: 0}
}

/* Welcome Page Classes */

.welcome-header {
    font-size: 50pt; 
}

.welcome-msg {
    font-size: 24pt; 
}

/* Make box appear in its contents from 0 to 100% width in 2 seconds over 60 steps */
.appear-header {
    opacity: 0; 
    animation: appear-header 1.5s linear forwards; 
}

@keyframes appear-header {
    from{opacity: 0; }
    to{opacity: 1; }
}

.appear-msg {
    opacity: 0;
    animation: appear-msg 1.5s linear 1.5s forwards; 
}

@keyframes appear-msg {
    from{opacity:0; }
    to{opacity: 1; }
}

/* Sound button classes */

.sound-btn {
    color: rgb(var(--primary)); 
    transition: all 250ms ease-in; 
     
}


.sound-option-btn {
    color: rgba(var(--primary),0.4); 
    margin: 0.8rem 0.4rem;   
    transition: color 250ms ease-in; 
    border: none; 
}

.sound-btn:hover {
    opacity: 0.8;
    cursor: pointer; 
}

 .sound-option-btn:hover {
    background-color: var(--background);
    cursor: auto; 
} 

.sound-option-btn:focus {
    outline: none; 
} 

.sound-option-icon:hover {
    color: rgba(var(--primary),0.8);
    cursor: pointer;
}
.play {
    color: rgb(var(--primary)) !important; 
}

.animate-preset-btn {
    animation-name: presetsave; 
    animation-duration: 0.4s; 
}

@keyframes presetsave {
    0.0% {background-color: transparent}
    50.0% {background-color:rgba(var(--primary),0.2)}
    100.0% {background-color: transparent}
}

#preset-name-input {
    background-color: var(--background); 
    color: rgb(var(--primary));
}

#preset-name-input::placeholder {
    color: rgb(var(--primary));
}

/* Styling for volume slider */
/* Style for entire general input */
input[type="range"] {
    -webkit-appearance: none; 
    border: none; 
}

/* Styling the "thumb" or movable object on the slider */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none; 
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(var(--primary)); 
    /* Moves thumb over the center of the track */
    margin-top: -4.5px; 
}

/* Styling the track that the user moves the thumb on */
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    width: 300px; 
    background-color: rgb(var(--primary)); 
    border: none;
    border-radius: 0.5rem; 
}

/* Interaction styles for slider */
input[type="range"]::-webkit-slider-runnable-track:hover,
input[type="range"]::-webkit-slider-thumb:hover {
    cursor:pointer; 
}

/* Styling for volume slider in Firefox */
input[type=range]{
    /* Fix for Firefox unable to apply focus style bug  */
    border: 1px solid transparent; 

    /* Required for proper track sizing in Firefox */
    width: 200px;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none; 
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(var(--primary)); 
    /* Moves thumb over the center of the track */
    margin-top: -4.5px; 
}

input[type=range]::-moz-range-track {
    height: 5px;
    width: 200px; 
    background-color: rgb(var(--primary)); 
    border: none;
    border-radius: 0.5rem; 
}

/* Hide the outline behind the border */
input[type=range]:-moz-focusring{
    outline: 1px solid transparent;
    outline-offset: -1px;
}

input[type=range]:hover::-moz-range-track,
input[type=range]:hover::-moz-range-thumb {
    cursor:pointer; 
}

/* Utility Classes */
.warning-text {
    color: var(--red);
}

.hide {
    display:none; 
}


.show {
    visibility: initial;
}

.space-top-text {
    margin-top: 7vh;
}

.space-top-image {
    margin-top: 6vh;
}


/* Media Queries */
@media screen and (min-width: 640px) {

    .media-wrapper {
        max-height: 500px;
    }

}

@media screen and (min-width: 768px) {
    .modal-content {
        width: 50%; 
        max-width: 600px;   
    }

    .media-wrapper {
        width: 700px;
        height: 500px;
        max-height: 550px;
    }

    .image-mask {
        width: 700px;
        height: 500px;
    }

    .blob1 {
        transform: translate(350px, -300px);
    }
    
    .blob2 {
        transform: translate(-300px, 360px);
    }
    
    .space-top-text {
        margin-top: 18vh;
    }
}

@media screen and (min-width: 1024px) {

    .modal-content {
        max-width: 600px;  
    }

    .media-wrapper {
        max-height: 100%;
    }

    .blob1 {
        transform: translate(270px, -280px);
    }
    
    .blob2 {
        transform: translate(-230px, 320px);
    }
    
}

